---
	export interface Props {
		name: string;
		birth: string;
		class: string;
		href: string;
	}

	const { href, title, body } = Astro.props;
---

<div class="card-body">
	<div class="card-content">
		<h1>Nome do Curso</h1>
		<img class="avatar" />
		<span class="student-name"> Nome do aluno</span>
	</div>
</div>
<style>
	* {
		font-family: "Roboto", sans-serif;
	}
	.card-body {
		display: flex;
		margin: auto;
		width: 900px;
		height: 500px;
		background-color: #4c7a56;
		-webkit-mask: radial-gradient(circle at left top,
				transparent 100px,
				black 101px),
			radial-gradient(circle at right top, transparent 100px, black 101px),
			radial-gradient(circle at left bottom, transparent 100px, black 101px),
			radial-gradient(circle at right bottom, transparent 100px, black 101px),
			linear-gradient(black, black);
		-webkit-mask-composite: destination-in;
		mask-composite: exclude;
	}

	.card-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 70%;
		height: 90%;
		margin: auto;
	}

	h1 {
		color: #f7f7f7;
	}

	.avatar {
		height: clamp(100px, 10%, 40px);
		width: clamp(100px, 10%, 40px);
		border: 1px solid black;
		border-radius: 100%;
		background-color: #000;
		margin-bottom: 1rem;
	}

	.student-name {
		font-size: clamp(2rem, 10vh, 0.5rem);
		color: #f7f7f7;
	}
</style>